.local-food {
  padding-top: 50rem;
  display: flex;
  align-items: center;
  position: relative;

  .content-local-food {
    position: relative;
    padding-bottom: 5rem;
    img {
      transform: translateX(-50px);
      visibility: hidden;
    }
    h2 {
      font-size: 4rem;
      margin-block: 4rem;
      transform: translateX(-50px);
      visibility: hidden;
    }

    p {
      font-size: 2rem;
      width: 400px;
      line-height: 1.5;
      transform: translateX(-50px);
      visibility: hidden;
    }
  }

  .right-food-content {
    position: absolute;
    right: 20%;
    top: 30%;
    &::after {
      position: absolute;
      content: url(../../assets/images/patterns/pattern-curve-top-left.svg);
      right: -100%;
      bottom: 12%;
      z-index: -2;
    }
    .right-local-food-img {
      position: absolute;
      right: -15%;
      top: 25%;
      visibility: hidden;
      transform: translateX(-50px);
    }
    .foodImg {
      clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
    }
    .foodImgTablet,
    .foodImgPhone {
      display: none;
      clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
    }
  }
}

@media (max-width: 1490px) {
  .local-food {
    padding-top: 27rem;
    .content-local-food {
      padding-bottom: 0rem;
    }

    .right-food-content {
      right: 8%;
      top: 25%;
      &::after {
        right: -100%;
        bottom: 17%;
      }
      .right-local-food-img {
        position: absolute;
        right: -15%;
        top: 25%;
      }
      .foodImg {
        width: 400px;
      }
    }
  }
}

@media (max-width: 1060px) {
  .local-food {
    padding-top: unset;
    flex-direction: column-reverse;

    .content-local-food {
      padding-bottom: 0rem;
      padding-top: 5rem;
      text-align: center;

      h2 {
        font-size: 3rem;
        margin-block: 3rem;
      }

      p {
        font-size: 1.6rem;
        width: 400px;
      }
    }

    .right-food-content {
      width: 100%;
      position: unset;
      display: flex;
      justify-content: center;
      align-items: center;

      &::after {
        display: unset;
        right: -70%;
        bottom: 0;
      }
      .right-local-food-img {
        position: absolute;
      }
      .foodImg {
        display: none;
      }
      .foodImgTablet {
        display: unset;
        margin-inline: auto;
      }
    }
  }
}

@media (max-width: 700px) {
  .local-food {
    .content-local-food {
      p {
        width: 100%;
      }
    }

    .right-food-content {
      &::after {
        display: none;
      }
      .foodImg,
      .foodImgTablet,
      .right-local-food-img {
        display: none;
      }

      .foodImgPhone {
        display: unset;
        width: 300px;
      }
    }
  }
}

@media (max-width: 280px) {
  .local-food {
    .right-food-content {
      .foodImgPhone {
        width: 200px;
      }
    }
  }
}
