.family-gathering {
  display: flex;
  gap: 21rem;
  position: relative;

  &::before {
    content: url(../../assets/images/patterns/pattern-curve-top-right.svg);
    position: absolute;
    top: 0;
    left: -48%;
  }

  .left-family-gathering {
    position: relative;
    width: 540px;
    .lines {
      position: absolute;
      left: -43%;
    }
    .main-picture {
      width: 100%;
      position: absolute;
      left: 0;
      box-shadow: 0 7.5rem 10rem -5rem rgba(56, 66, 85, 0.5);
    }
    .svg {
      position: absolute;
      right: -10%;
      top: 74%;
    }
  }
  .right-family-gathering {
    padding-top: 6rem;
    .inner-top {
      margin-bottom: 3rem;
      h2 {
        font-size: 4rem;
      }

      p {
        font-size: 2rem;
        margin-block: 2.5rem;
        width: 400px;
        line-height: 1.5;
      }

      button {
        background: black;
      }
    }
    .inner-bottom {
      padding-top: 5rem;
      .category {
        font-size: 2rem;
        text-transform: uppercase;
        margin-bottom: 3rem;
        letter-spacing: 0.4rem;
        font-weight: lighter;

        &.active {
          font-weight: 700;
        }
      }
    }
  }
}

@media (max-width: 1490px) {
  .family-gathering {
    .left-family-gathering {
      .lines {
        left: -10%;
        z-index: 2;
      }
      .main-picture {
        width: unset;
      }
      .svg {
        position: absolute;
        right: -50%;
        z-index: -1;
      }
    }
  }
}

@media (max-width: 1060px) {
  .family-gathering {
    flex-direction: column;
    width: 100%;
    align-items: center;
    text-align: center;
    gap: 27rem;
    .left-family-gathering {
      .svg {
        display: none;
      }
      .cream-line {
        width: 20px;
        height: 2px;
        background: #997d67;
        position: absolute;
        top: 0%;
        left: 0;
      }
      .main-picture {
        left: 50%;
        transform: translateX(-50%);
      }
    }
    .right-family-gathering {
      padding-top: 10rem;
      display: flex;
      flex-direction: column-reverse;
      .inner-top {
        p {
          margin-inline: auto;
          font-size: 1.6rem;
        }

        h2 {
          font-size: 3rem;
        }
      }
      .inner-bottom {
        display: flex;
        align-items: center;
        gap: 4rem;

        .category {
          font-size: 1.6rem;
        }
      }
    }
  }
}

@media (max-width: 730px) {
  .family-gathering {
    gap: 28rem;
    &::before {
      display: none;
    }
    .left-family-gathering {
      width: 100%;
      .lines {
        display: none;
      }
      .main-picture {
        width: 300px;
      }
    }
    .right-family-gathering {
      gap: 1rem;

      .inner-top {
        p {
          width: 100%;
        }
      }
      .inner-bottom {
        flex-direction: column;
        gap: 0;
      }
    }
  }
}

@media (max-width: 280px) {
  .family-gathering {
    .left-family-gathering {
      .main-picture {
        width: 200px;
      }
    }
    .right-family-gathering {
      padding-top: 0;

      .inner-bottom {
        padding-top: 2rem;
      }
    }
  }
}
