.loader{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 1;
    background: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;

}