* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
}

section {
    width: 1440px;
    margin-inline: auto;
    padding-block: 8rem;
}

.App {
    visibility: hidden;
}

.mainApp {
    visibility: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Bubblegum Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

p,
a,
li,
span,
button {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

@media(max-width:1490px) {
    section {
        width: 1000px;
    }
}


@media (max-width: 1060px) {
    section {
        width: 100%;
        padding-inline: 2rem;
    }
}