.view-product-container {
  .go-back {
    font-size: 2rem;
    text-transform: capitalize;
    color: black;
    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  .product-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    // flex-direction: column;
    margin-top: 4rem;
    gap: 2rem;
    .left-product-side {
      width: 48%;
      img {
        width: 100%;
        object-fit: cover;
      }
    }
    .right-food-side {
      width: 48%;
      display: flex;
      flex-direction: column;
      gap: 4rem;
      .product-name {
        font-size: 4rem;
      }

      .product-category {
        // margin-top: 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .category {
          display: block;
          font-size: 2rem;
          text-transform: capitalize;
          width: 150px;
        }
        .category-name {
          font-size: 2rem;
          text-transform: capitalize;
          font-weight: 600;
        }
        .category-price {
          font-size: 2rem;
          font-weight: 600;
        }
      }
      .btns {
        display: flex;
        gap: 4rem;
        // margin-top: 2rem;
        flex-direction: column;
        .btn-inner {
          display: flex;
          justify-content: space-between;
        }
        .product-amount {
          display: flex;
          align-items: center;
          gap: 1rem;

          .subtract,
          .add {
            font-size: 1.5rem;
            padding: 2rem;
            background: black;
            height: 100%;
            color: white;
            font-weight: bold;
            cursor: pointer;
          }

          .amount {
            font-size: 2rem;
          }
        }

        .add-btn {
          background: black;

          &:hover {
            border: 0.2rem solid black;
            background: none;
            color: black;
            font-weight: bold;
          }
        }
      }
    }
  }
}

@media (max-width: 1490px) {
  .view-product-container {
    .product-details {
      .right-food-side {
        gap: 2rem;
        .btns {
          gap: 2rem;
        }
      }
    }
  }
}

@media (max-width: 1060px) {
  .view-product-container {
    .product-details {
      flex-direction: column;
      gap: 5rem;
      .left-product-side {
        width: 100%;
      }
      .right-food-side {
        width: 100%;
        gap: 2rem;
        .product-name {
          font-size: 2.5rem;
        }
        .btns {
          gap: 2rem;

          .product-amount {
            .subtract,
            .add {
              font-size: 1.3rem;
              padding: 1.5rem;
            }
          }
        }
        .product-category {
          .category {
            font-size: 1.8rem;
          }
          .category-name {
            font-size: 1.8rem;
          }
          .category-price {
            font-size: 1.8rem;
          }
        }
      }
    }
  }
}

@media (max-width: 280px) {
  .view-product-container {
    .product-details {
      gap: 3rem;
      .right-food-side {
        .product-name {
          font-size: 2rem;
        }
        .btns {
          .product-amount {
            gap: 0.5rem;
            .subtract,
            .add {
              font-size: 1.3rem;
              padding: 1rem;
              height: unset;
            }
          }

          .add-btn {
            font-size: 1rem;
            padding: 1.5rem 2rem;
          }
        }
      }
    }
  }
}
