button{
    padding: 2rem 5rem;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 1.4rem;
    background: transparent;
    border: .1rem solid white;
    outline: none;
    cursor: pointer;
}