.cancel-parent {
  display: flex;
  justify-content: center;
  padding-block: 12rem;

  .cancel-modal {
    background: black;
    color: white;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    .mark {
      font-size: 4rem;
      color: black;
      background: white;
      width: 70px;
      height: 70px;
      line-height: 70px;
      text-align: center;
      border-radius: 50%;
    }
    .cancel-tag {
      font-size: 4rem;
      text-transform: capitalize;
    }
    .caution {
      font-size: 2rem;
      width: 500px;
      line-height: 1.5;
    }

    .home-btn {
      align-self: flex-start;
      padding: 2rem 4rem;
      text-transform: uppercase;
      color: black;
      font-size: 1.4rem;
      background: white;
      border: 0.1rem rem solid white;
      outline: none;
      cursor: pointer;
    }
  }
}

@media (max-width: 700px) {
  .cancel-parent {
    padding-block: 6rem;
    padding-inline: 2rem;
    .cancel-modal {
      .mark {
        font-size: 2rem;
        width: 35px;
        height: 35px;
        line-height: 35px;
      }
      .cancel-tag {
        font-size: 2rem;
      }

      .caution {
        font-size: 1.6rem;
        width: 100%;
      }

      .home-btn {
        padding: 1.5rem 3rem;
        font-size: 1.2rem;
      }
    }
  }
}

@media (max-width: 500px) {
  .success-wrapper {
    height: 100vh;
    overflow-y: hidden;
    &::after {
      display: none;
    }
    .success-container {
      gap: 2.5rem;
      .checkmark-div {
        width: 40px;
        height: 40px;
        line-height: 40px;
        font-size: 1.8rem;
      }
      .greeting {
        font-size: 1.6rem;
      }

      .big-text {
        font-size: 2rem;
      }
    }
  }
}
