.enjoyable {
  display: flex;
  align-items: center;
  position: relative;

  &::after {
    position: absolute;
    content: url(../../assets/images/patterns/pattern-curve-top-right.svg);
    left: -16%;
    width: 500px;
    top: 50%;
  }

  .left-image {
    position: absolute;
    top: -20%;
    clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  }

  .left-image-tablet,
  .left-image-m2 {
    display: none;
    clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  }

  .left-image-m {
    display: none;
    clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  }

  .right-content {
    position: relative;
    left: 43%;
    img {
      visibility: hidden;
      transform: translateX(-50px);
    }
    h2 {
      font-size: 4rem;
      margin-block: 4rem;
      visibility: hidden;
      transform: translateX(-50px);
    }
    p {
      font-size: 2rem;
      width: 400px;
      line-height: 1.5;
      visibility: hidden;
      transform: translateX(-50px);
    }
  }
}

@media (max-width: 1490px) {
  .enjoyable {
    &::after {
      left: -23%;
      top: 25%;
    }

    .left-image {
      display: none;
    }

    .left-image-tablet {
      display: unset;
      position: absolute;
      width: 400px;
    }

    .right-content {
      position: relative;
      left: 52%;
      h2 {
        font-size: 4rem;
        margin-block: 4rem;
      }

      p {
        font-size: 2rem;
        width: 400px;
        line-height: 1.5;
      }
    }
  }
}

@media (max-width: 1060px) {
  .enjoyable {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &::after {
      left: -50%;
      top: 15%;
    }

    .left-image {
      display: none;
    }

    .left-image-tablet {
      display: none;
    }

    .left-image-m {
      display: unset;
      position: absolute;
      top: -20%;
    }

    .right-content {
      position: relative;
      left: unset;
      margin-top: 22rem;
      width: 100%;
      text-align: center;
      h2 {
        font-size: 3rem;
        margin-block: 3rem;
      }

      p {
        font-size: 1.6rem;
        margin-inline: auto;
      }
    }
  }
}

@media (max-width: 700px) {
  .enjoyable {
    &::after {
      display: none;
    }
    .left-image-m,
    .left-image-tablet,
    .left-image {
      display: none;
    }

    .left-image-m2 {
      display: unset;
      position: absolute;
      top: -10%;
      width: 300px;
    }

    .right-content {
      margin-top: 27rem;
      width: 100%;
      h2 {
        margin-block: 3rem;
      }

      p {
        width: 100%;
      }
    }
  }
}

@media (max-width: 280px) {
  .enjoyable {
    &::after {
      display: none;
    }
    .left-image-m,
    .left-image-tablet,
    .left-image {
      display: none;
    }

    .left-image-m2 {
      display: unset;
      position: absolute;
      top: -10%;
      width: 200px;
    }

    .right-content {
      margin-top: 15rem;
      width: 100%;
      h2 {
        margin-block: 3rem;
      }

      p {
        width: 100%;
      }
    }
  }
}
