.menu-parent {
  .menu {
    h1 {
      font-size: 3rem;
      text-transform: uppercase;
      line-height: 1;
      text-align: center;
    }

    .btn-categories {
      display: flex;
      flex-wrap: wrap;
      gap: 2rem;
      margin-top: 5rem;
      justify-content: center;
      align-items: center;

      .single-category {
        width: 200px;
        height: 50px;
        text-transform: capitalize;
        font-size: 2rem;
        color: white;
        line-height: 50px;
        text-align: center;
        border: 0.2rem solid black;
        color: black;
        cursor: pointer;

        .active {
          background: black;
          color: white;
        }
      }
    }
    .food-result {
      display: flex;
      gap: 3rem;
      align-items: center;
      padding: 4rem 0 5rem;
      flex-wrap: wrap;
      // justify-content: center;
      .food-box {
        width: 300px;
        border: 0.2rem solid black;
        padding: 1.5rem;
        text-align: center;

        img {
          width: 100%;
          height: 300px;
          margin-bottom: 1rem;
          object-fit: cover;
        }
        h2 {
          font-size: 2rem;
          text-transform: capitalize;
        }

        .view-meal{
          background: black;
          margin-top: 1rem;

          &:hover{
            color:black;
            border: .2rem solid black;
            cursor: pointer;
            background: none;
            font-weight: bold;
          }
        }
      }
    }
  }
}
