.menu-parent {
  .menu {
    h1 {
      font-size: 3rem;
      text-transform: uppercase;
      line-height: 1;
      text-align: center;
    }

    .btn-categories {
      display: flex;
      flex-wrap: wrap;
      gap: 2rem;
      margin-top: 5rem;
      justify-content: center;
      align-items: center;
      .selected-category {
        display: none;
      }
      .single-category {
        width: 200px;
        height: 50px;
        text-transform: capitalize;
        font-size: 2rem;
        color: white;
        line-height: 50px;
        text-align: center;
        border: 0.2rem solid black;
        color: black;
        cursor: pointer;
        font-family: "Quicksand", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;

        &.clicked {
          background: black;
          color: white;
        }
      }
    }
    .mobile-food-categories {
      display: none;
    }
    .food-result {
      display: flex;
      gap: 3rem;
      align-items: center;
      padding: 4rem 0 5rem;
      flex-wrap: wrap;
      justify-content: center;
      .food-box {
        width: 300px;
        height: 500px;
        border: 0.2rem solid black;
        padding: 1.5rem;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        // align-items: center;

        img {
          width: 100%;
          height: 300px;
          margin-bottom: 1rem;
          object-fit: cover;
        }
        h2 {
          font-size: 2rem;
          text-transform: capitalize;
        }

        .view-meal {
          background: black;
          margin-top: 1rem;

          &:hover {
            color: black;
            border: 0.2rem solid black;
            cursor: pointer;
            background: none;
            font-weight: bold;
          }
        }
      }
    }
    .mobile-food-categories {
      display: n;
    }
  }
}

@media (max-width: 685px) {
  .menu-parent {
    .menu {
      h1 {
        font-size: 2.5rem;
      }

      .food-result {
        padding: 2rem 0 2rem;
        width: 100%;
        .food-box {
          width: 100%;
          h2 {
            font-size: 1.6rem;
          }
        }
      }
      .btn-categories {
        display: none;
      }
      .mobile-food-categories {
        display: unset;
        .inner-filter-parent {
          display: flex;
          justify-content: space-between;
          padding-block: 5rem;
          align-items: center;
          .filter-title {
            font-size: 1.8rem;
            font-weight: bold;
          }
          .inner-filter-first-child {
            width: 150px;
            background: black;
            position: relative;
            .insider-filter {
              width: 100%;
              text-align: center;
              position: relative;
              padding: 1rem;
              i {
                font-size: 1.8rem;
                position: absolute;
                left: 85%;
                color: white;
                cursor: pointer;
              }
            }
            .current-filter {
              font-size: 1.6rem;
              color: white;
            }
            .filtering-options {
              position: absolute;
              display: flex;
              justify-content: center;
              flex-direction: column;
              align-items: center;
              left: 0;
              right: 0;
              height: 0;
              background: black;
              overflow: hidden;
              transition: height 0.3s ease-in-out;
              &.filter-open {
                height: 520px;
              }
              .filter-text {
                padding: 1rem;
                font-size: 1.4rem;
                color: white;
                width: 100%;
                text-align: center;
                border-top: 0.1rem solid white;
                cursor: pointer;
                font-family: "Quicksand", sans-serif;
                font-optical-sizing: auto;
                font-weight: 400;
                font-style: normal;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 280px) {
  .menu-parent {
    .menu {
      .mobile-food-categories {
        .inner-filter-parent {
          .filter-title {
            font-size: 1.6rem;
          }
          .inner-filter-first-child {
            width: 100px;
            .insider-filter {
              i {
                left: 80%;
              }
            }
          }
        }
      }
    }
  }
}
