.restaurant-info-parent {
  .restaurant-info {
    display: flex;
    background: #111111;
    .restaurant-info-img {
      width: 50%;
      height: 600px;
      overflow: hidden;
      clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        scale: 1.2;
      }
      .mobile-img {
        display: none;
      }
    }

    .restaurant-info-text {
      width: 50%;
      background: #111111;
      color: white;
      .content {
        width: 50%;
        padding-top: 5rem;
        margin-inline: auto;
        h1 {
          font-size: 4rem;
          margin-bottom: 2rem;
          text-align: left;
          text-transform: uppercase;
          transform: translateX(-50px);
          visibility: hidden;
        }

        p {
          font-size: 2rem;
          margin-bottom: 1.5rem;
          width: 400px;
          line-height: 1.5;
          transform: translateX(-50px);
          visibility: hidden;
        }
      }
    }
  }
}

@media (max-width: 1490px) {
  .restaurant-info-parent {
    .restaurant-info {
      .restaurant-info-text {
        .content {
          width: 70%;
          &:last-of-type {
            width: 320px;
          }
          h1 {
            font-size: 3rem;
          }
        }
      }
    }
  }
}

@media (max-width: 1060px) {
  .restaurant-info-parent {
    .restaurant-info {
      flex-direction: column;
      .restaurant-info-img {
        width: 100%;
        .mobile-img {
          display: unset;
        }
      }
      .restaurant-info-text {
        width: 100%;
        text-align: center;
        padding-bottom: 2rem;
        .content {
          width: 100%;
          padding-inline: 2rem;
          &:last-of-type {
            width: 100%;
          }
          h1 {
            font-size: 3rem;
            text-align: center;
          }
          p {
            width: 100%;
            font-size: 1.6rem;
          }
        }
      }
    }
  }
}

@media (max-width: 700px) {
  .restaurant-info-parent {
    .restaurant-info {
      flex-direction: column;
      .restaurant-info-img {
        width: 100%;
        display: none;
      }
      .restaurant-info-text {
        width: 100%;
        text-align: center;
        .content {
          width: 70%;
          h1 {
            font-size: 3rem;
            text-align: center;
          }
          p {
            width: 100%;
            font-size: 1.6rem;
          }
        }
      }
    }
  }
}
