.reservation-parent {
  background: url(../../assets/images/homepage/ready-bg-desktop.jpg) no-repeat;
  height: 60vh;
  background-size: cover;
  background-position: center;

  .reservation-container {
    padding-top: 15rem;
    display: flex;
    position: relative;

    .left-reservation {
      .reservation-title {
        font-size: 6.4rem;
        text-transform: capitalize;
        color: white;
      }
      .reservation-testContent {
        font-size: 2rem;
        margin-block: 4rem;
        width: 380px;
        line-height: 1.5;
        color: white;
      }
    }
    .reservation-form {
      width: 500px;
      background: white;
      padding: 6rem;
      display: flex;
      gap: 3rem;
      flex-direction: column;
      position: absolute;
      left: 45%;
      bottom: -35%;
      z-index: 100;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      .personal-details {
        display: flex;
        flex-direction: column;
        gap: 3rem;
      }

      .reservation-date {
        display: flex;
        width: 100%;
        justify-content: space-between;
        .duration-title {
          color: black;
          font-size: 2rem;
          font-weight: 100;
          width: 30%;
          align-self: flex-end;
        }
        .date-in-numbers {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 70%;
        }
      }

      .reservation-timee {
        display: flex;
        width: 100%;
        justify-content: space-between;
        .duration-title {
          color: black;
          font-size: 2rem;
          font-weight: 100;
          width: 30%;
          align-self: flex-end;
        }
        .date-in-numbers {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 70%;
          .time {
            display: flex;
            gap: 1.5rem;
          }

          .selection {
            width: 80px;
            border: none;
            align-self: self-end;
            outline: none;
            border-bottom: 0.1rem solid #c6c6c6;
          }
        }
      }

      .no-of-people {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 0.1rem solid;

        .minus {
          font-size: 2.5rem;
        }
        .plus {
          font-size: 2.5rem;
        }
        .amount-of-people {
          font-size: 2rem;
          font-weight: 600;
          padding-bottom: 1rem;
        }
      }

      .reservation-booking-btn {
        width: 100%;
        padding-block: 3rem;
        background: black;
        color: white;
        text-transform: uppercase;
        color: white;
        cursor: pointer;
        white-space: nowrap;

        &:hover {
          border: 0.1rem solid black;
          background: none;
          color: black;
        }
      }

      .errorMessage {
        font-size: 2rem;
        color: red;
        font-weight: bold;
      }
    }
  }
}


@media (max-width: 1050px) {
  .reservation-parent {
    background: url(../../assets/images/homepage/ready-bg-tablet.jpg) no-repeat;
    background-size: cover;
    background-position: center;

    .reservation-container {
      padding-top: 8rem;
      flex-direction: column;
      align-items: center;

      .left-reservation {
        text-align: center;
        .reservation-title {
          font-size: 3.5rem;
        }
        .reservation-testContent {
          font-size: 1.6rem;
          margin-block: 3rem;
        }
      }

      .reservation-form {
        position: unset;
      }
    }
  }
}

@media (max-width: 590px) {
  .reservation-parent {
    .reservation-container {
      .left-reservation {
        .reservation-testContent {
          width: 100%;
          margin-block: 3rem;
        }
      }
      .reservation-form {
        padding: 3rem;
        width: 400px;
        .reservation-date {
          flex-direction: column;
          gap: 3rem;
          .duration-title {
            align-self: flex-start;
          }
          .date-in-numbers {
            width: 100%;

            .duration {
              width: 29%;
              text-align: center;
              font-size: 1.6rem;
            }
          }
        }
        .reservation-timee {
          flex-direction: column;
          gap: 3rem;
          .duration-title {
            align-self: flex-start;
          }
          .date-in-numbers {
            width: 100%;
            .time {
              width: 70%;
              gap: 2rem;
              .duration {
                width: 100px;
                text-align: center;
                font-size: 1.6rem;
              }
            }
            .selection {
              width: 29%;
              font-size: 1.6rem;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 450px) {
  .reservation-parent {
    .reservation-container {
      .reservation-form {
        width: 300px;
        .fullDetails {
          font-size: 1.4rem;
        }
        .reservation-date {
          .duration-title {
            width: 100%;
            font-size: 1.4rem;
          }
          .date-in-numbers {
            width: 100%;
            .duration {
              font-size: 1.4rem;
            }
          }
        }
        .reservation-timee {
          flex-direction: column;
          .duration-title {
            width: 100%;
            font-size: 1.4rem;
          }
          .date-in-numbers {
            width: 100%;
            .time {
              gap: 1.4rem;
              .duration {
                width: 70px;
                font-size: 1.4rem;
              }
            }
            .selection {
              font-size: 1.4rem;
            }
          }
        }
        .no-of-people {
          .minus {
            font-size: 1.8rem;
          }
          .plus {
            font-size: 1.8rem;
          }
          .amount-of-people {
            font-size: 1.4rem;
          }
        }
        .reservation-booking-btn {
          padding-block: 2rem;
        }
      }
    }
  }
}


@media (max-width: 280px) {
  .reservation-parent {
    .reservation-container {
      .reservation-form {
        width: 250px;
        .reservation-timee {
          .date-in-numbers {
            .time {
              gap: 0.7rem;
              .duration {
                width: 60px;
              }
            }
          }
        }
      }
    }
  }
}
