* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
}

section {
    width: 1440px;
    margin-inline: auto;
    padding-block: 8rem;
}


@media(max-width:1490px) {
    section {
        width: 1000px;
    }
}


@media (max-width: 1060px) {
    section {
        width: 100%;
        padding-inline: 2rem;
    }
}